<a href="https://colab.research.google.com/github/Alfonio/Alfonio/blob/main/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUCCIÓN A PYTHON
---

# 1.1 Introducción

> Python es un lenguaje de programación de alto nivel con soporte a múltiples paradigmas de programación. Es un proyecto *open source* y desde su aparición en 1991, viene convirtiéndose en uno de los lenguajes de programación interpretados más populares.
>
> En los últimos años Python ha desarrollado una comunidad activa de procesamiento científico y análisis de datos y viene destacándose como uno de los lenguajes más relevantes cuando el asunto es ciencia de datos y machine learning, tanto en el entorno académico como también en el entorno laboral.

# 1.2 Instalación y entorno de trabajo

### Instalación Local

### https://www.python.org/downloads/
### o
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versión

In [ ]:
!python -V

Python 3.10.12

# 1.3 Trabajando con datos

In [ ]:
#Importamos la biblioteca de pandas como pd
import pandas as pd
#Para mostrar toda la tabla y no solo 10 filas, ponemos lo siguiente, el valor numerico son la cantidad de filas o columnas que quiera reemplazando el 10
pd.set_option("display.max.rows",1000)
pd.set_option("display.max.columns",10)

A continuacion, lee el archivo CSV llamado "db.csv" y lo carga en un DataFrame llamado "dataset". read_csv() es una función de pandas que permite leer datos de un archivo CSV y crear un DataFrame. El parámetro "sep" se establece en ";" para indicar que el separador de campos en el archivo CSV es el punto y coma.

In [ ]:
dataset = pd.read_csv("db.csv", sep = ";")

In [ ]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamiento', 'Techo panorámic...",97497.73
6,A5,Motor 4.0 Turbo,2019,NaN,True,"['Transmisión automática', 'Cámara de estacion...",56445.20
7,Série 3 Cabrio,Motor 1.0 8v,2009,77599.0,False,"['Control de estabilidad', 'Sensor crepuscular...",112310.44
8,Dodge Jorney,Motor 3.0 32v,2010,99197.0,False,"['Ventanas eléctricas', 'Piloto automático', '...",120716.27
9,Carens,Motor 5.0 V8 Bi-Turbo,2011,37978.0,False,"['Aire condicionado', 'Panel digital', 'Centra...",76566.49
10,Ford Edge,Motor Diesel V6,2002,12859.0,False,"['Sensor crepuscular', 'Llantas de aleación', ...",71647.59
11,Courier,Motor Diesel V8,2007,8052.0,False,"['Central multimedia', '4 X 4', 'Piloto automá...",73919.53
12,S-18,Motor V6,2001,89773.0,False,"['Asientos de cuero', 'Sensor de lluvia', 'Lla...",112732.99
13,J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Panel digital', 'Llant...",53183.38
14,F-Type Coupé,Motor 5.0 V8 Bi-Turbo,2009,41457.0,False,"['Piloto automático', 'Sensor crepuscular', 'S...",127488.42
15,RAM,Motor Diesel V8,2016,115607.0,False,"['Sensor crepuscular', 'Transmisión automática...",59910.40
16,Série 1,Motor 3.0 32v,2012,46449.0,False,"['Techo panorámico', 'Cámara de estacionamient...",61118.59
17,A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39
18,XC90,Motor 1.0 8v,2016,37086.0,False,"['Cerraduras electricas', 'Ventanas eléctricas...",62696.69
19,RS 3 Sportback,Motor 3.0 32v,2017,15173.0,False,"['4 X 4', 'Piloto automático', 'Central multim...",101726.30
20,Pajero Sport,Motor 1.0 8v,2002,101193.0,False,"['Sensor de estacionamiento', 'Piloto automáti...",106147.38
21,Série 1 M,Motor V8,2019,NaN,True,"['Control de estabilidad', 'Central multimedia...",94564.40
22,Lamborghini Obvious,Motor Diesel V6,1994,98079.0,False,"['Llantas de aleación', 'Transmisión automátic...",133529.84
23,Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Control de estabilidad', 'Panel digital', 'V...",125684.65
24,Lamborghini Murciélago,Motor 5.0 V8 Bi-Turbo,2019,NaN,True,"['Frenos ABS', 'Transmisión automática', 'Aire...",121596.21
25,Up!,Motor Diesel V6,2019,NaN,True,"['Sensor de estacionamiento', 'Ventanas eléctr...",71367.10
26,Fiesta Rocam Sedan,Motor 4.0 Turbo,2016,5795.0,False,"['Aire condicionado', 'Asientos de cuero', 'Tr...",95347.75
27,Sandero Stepway,Motor 3.0 32v,2019,NaN,True,"['Frenos ABS', 'Aire condicionado', 'Techo pan...",105432.84
28,Cayman S,Motor 3.0 32v,2002,58848.0,False,"['Transmisión automática', 'Sensor de estacion...",57045.27
29,V40,Motor 4.0 Turbo,1991,94381.0,False,"['Cámara de estacionamiento', 'Sensor de estac...",120432.70
30,Classe SLS AMG,Motor 1.0 8v,1997,30163.0,False,"['Sensor de estacionamiento', 'Control de esta...",70707.20
31,Gol G4,Motor 2.0 16v,1995,53332.0,False,"['Sensor crepuscular', '4 X 4', 'Ventanas eléc...",69105.18
32,Linea,Motor 1.0 8v,2018,17720.0,False,"['Piloto automático', 'Panel digital', 'Ventan...",59358.69
33,Ford F100,Motor 2.0 16v,1991,33808.0,False,"['Control de tracción', 'Sensor crepuscular', ...",65955.40
34,J2,Motor V8,2014,90684.0,False,"['Techo panorámico', 'Sensor de estacionamient...",60017.03
35,Aston Martin DBS,Motor V8,1995,43975.0,False,"['Techo panorámico', 'Piloto automático', 'Air...",118909.52
36,Pajero TR4,Motor 2.4 Turbo,2019,NaN,True,"['Control de tracción', 'Asientos de cuero', '...",51606.59
37,Polo Sedan,Motor V6,2019,NaN,True,"['Sensor de lluvia', 'Sensor crepuscular', 'Ai...",123281.87
38,California,Motor 1.0 8v,2009,5526.0,False,"['Llantas de aleación', 'Aire condicionado', '...",69770.18
39,S60,Motor 2.4 Turbo,2019,NaN,True,"['Techo panorámico', 'Frenos ABS', '4 X 4', 'A...",102609.54
40,Tucson,Motor 2.0 16v,2013,93415.0,False,"['Ventanas eléctricas', 'Sensor crepuscular', ...",67997.19
41,HB20,Motor V6,2003,40762.0,False,"['Sensor de lluvia', 'Cerraduras electricas', ...",135235.29
42,Optima,Motor 1.8 16v,2019,NaN,True,"['Central multimedia', 'Aire condicionado', 'T...",86641.34
43,Logan,Motor 4.0 Turbo,2002,86302.0,False,"['Cámara de estacionamiento', 'Ventanas eléctr...",136818.39
44,Range Rover Vogue,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Ventanas eléctricas', 'Llantas de a...",117626.73
45,Sonata,Motor 5.0 V8 Bi-Turbo,2002,9755.0,False,"['Piloto automático', 'Aire condicionado', 'Ve...",56208.70
46,Ford New Fiesta Sedan,Motor 3.0 32v,2004,69945.0,False,"['Techo panorámico', 'Panel digital', 'Aire co...",84222.65
47,Série 5 Gran Turismo,Motor 4.0 Turbo,2001,2395.0,False,"['Control de tracción', 'Piloto automático', '...",90781.65
48,CR-V,Motor Diesel V8,2019,NaN,True,"['Transmisión automática', 'Central multimedia...",64701.10
49,Ford EcoSport,Motor 1.0 8v,2003,80349.0,False,"['Ventanas eléctricas', 'Piloto automático', '...",126350.49
50,Versa,Motor 3.0 32v,2009,85554.0,False,"['Asientos de cuero', 'Aire condicionado', 'Ll...",148152.89
51,Classe E,Motor 1.0 8v,2006,50496.0,False,"['Frenos ABS', 'Sensor de estacionamiento', 'C...",132298.83
52,Carnival,Motor V8,2000,67716.0,False,"['Cerraduras electricas', 'Transmisión automát...",137627.63
53,Aston Martin V8 Vantage Roadster,Motor 2.4 Turbo,2006,93947.0,False,"['Transmisión automática', 'Cámara de estacion...",80422.71
54,Hoggar,Motor 5.0 V8 Bi-Turbo,2010,35345.0,False,"['Control de estabilidad', 'Asientos de cuero'...",56373.99
55,A1,Motor 5.0 V8 Bi-Turbo,1994,81007.0,False,"['Panel digital', 'Transmisión automática', 'C...",70846.03
56,Aston Martin DB7 Vantage,Motor V6,2007,119513.0,False,"['Sensor crepuscular', 'Piloto automático', 'T...",128694.23
57,CLA,Motor 1.0 8v,2019,NaN,True,"['Central multimedia', 'Sensor de lluvia', 'Co...",133329.19
58,Accord,Motor V8,2019,NaN,True,"['Sensor de estacionamiento', 'Aire condiciona...",131961.43
59,EXTRA 103EX,Motor 2.0 16v,2019,NaN,True,"['Sensor de estacionamiento', 'Central multime...",112033.27
60,Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
61,Tiggo,Motor 3.0 32v,2019,NaN,True,"['Cámara de estacionamiento', 'Frenos ABS', 'P...",97163.10
62,New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamiento', 'Cerraduras elec...",66007.16
63,Jeep Renegade,Motor 5.0 V8 Bi-Turbo,2011,48509.0,False,"['Ventanas eléctricas', 'Techo panorámico', 'A...",128776.22
64,Lamborghini Ankonian,Motor 2.0 16v,2001,100912.0,False,"['Asientos de cuero', 'Cámara de estacionamien...",142623.02
65,Space Cross,Motor 5.0 V8 Bi-Turbo,1996,95649.0,False,"['Techo panorámico', 'Ventanas eléctricas', 'S...",136930.13
66,Touareg,Motor V8,2019,NaN,True,"['Control de estabilidad', 'Piloto automático'...",66526.61
67,Classe M,Motor 1.0 8v,1994,90495.0,False,"['Central multimedia', 'Asientos de cuero', 'L...",114154.87
68,Lancer Evolution X,Motor Diesel V6,2019,NaN,True,"['Ventanas eléctricas', 'Transmisión automátic...",142392.75
69,Kangoo Express,Motor Diesel,2007,29132.0,False,"['Asientos de cuero', 'Transmisión automática'...",146716.91
70,SW4,Motor Diesel V6,1994,23802.0,False,"['Sensor de lluvia', 'Asientos de cuero', 'Con...",122485.68
71,Cadillac ELR,Motor 1.0 8v,2007,84992.0,False,"['Sensor crepuscular', 'Cerraduras electricas'...",97951.03
72,Doblò,Motor 1.8 16v,1997,54395.0,False,"['Cámara de estacionamiento', 'Techo panorámic...",78283.49
73,Lamborghini Egoista,Motor 3.0 32v,2006,26731.0,False,"['Llantas de aleación', 'Control de tracción',...",83434.04
74,Fit,Motor Diesel,2013,44329.0,False,"['Frenos ABS', 'Cámara de estacionamiento', 'T...",77836.23
75,C5,Motor 2.0 16v,1994,118236.0,False,"['Panel digital', 'Techo panorámico', 'Piloto ...",60813.92
76,Celer Hatch,Motor V8,2008,113808.0,False,"['Control de estabilidad', 'Transmisión automá...",91353.86
77,HB20S,Motor V8,2008,610.0,False,"['Techo panorámico', 'Llantas de aleación', 'C...",116281.21
78,Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
79,Livina,Motor 2.0 16v,2019,NaN,True,"['Sensor crepuscular', 'Cámara de estacionamie...",50742.10
80,Ducato,Motor 5.0 V8 Bi-Turbo,1999,12887.0,False,"['Sensor de lluvia', 'Panel digital', 'Sensor ...",73033.53
81,March,Motor V6,2007,79607.0,False,"['Asientos de cuero', 'Piloto automático', 'Se...",54332.87
82,Cadillac XTS sedan,Motor Diesel V6,1993,90924.0,False,"['Aire condicionado', 'Transmisión automática'...",52207.45
83,Lamborghini Centenario,Motor V6,1995,42733.0,False,"['Central multimedia', 'Ventanas eléctricas', ...",63578.50
84,Hilux,Motor 5.0 V8 Bi-Turbo,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Techo panorámi...",64507.72
85,Grand Siena,Motor Diesel V8,2019,NaN,True,"['Asientos de cuero', 'Panel digital', 'Sensor...",115075.59
86,Symbol,Motor Diesel,2016,117714.0,False,"['4 X 4', 'Piloto automático', 'Sensor crepusc...",133030.60
87,Aston Martin V12 GT Zagato,Motor 4.0 Turbo,2011,113885.0,False,"['Central multimedia', 'Piloto automático', 'S...",141591.86
88,Fusion,Motor 1.8 16v,2019,NaN,True,"['Control de tracción', 'Transmisión automátic...",100380.28
89,A4 Sedan,Motor Diesel,2002,30511.0,False,"['Cámara de estacionamiento', '4 X 4', 'Cerrad...",96369.04
90,Xsara Picasso,Motor 2.0 16v,2013,74867.0,False,"['Sensor de lluvia', 'Techo panorámico', 'Cent...",142603.84
91,207 SW,Motor 3.0 32v,2017,119760.0,False,"['Control de estabilidad', 'Cerraduras electri...",117709.67
92,Star,Motor V6,2016,8356.0,False,"['Cámara de estacionamiento', '4 X 4', 'Centra...",102241.54
93,Doblò Cargo,Motor 3.0 32v,2008,64247.0,False,"['Frenos ABS', 'Techo panorámico', 'Ventanas e...",96065.38
94,Cadillac CTS,Motor 1.8 16v,2018,88661.0,False,"['Cerraduras electricas', 'Sensor de lluvia', ...",53894.61
95,Cayenne,Motor 1.0 8v,2003,4539.0,False,"['Control de tracción', 'Piloto automático', '...",123911.78
96,Fox,Motor 4.0 Turbo,2003,110116.0,False,"['Piloto automático', 'Transmisión automática'...",101996.35
97,Tiida Hatch,Motor Diesel V6,2004,33215.0,False,"['Techo panorámico', 'Cerraduras electricas', ...",83431.66
98,Dodge Charger,Motor 2.4 Turbo,2010,92001.0,False,"['Ventanas eléctricas', 'Sensor crepuscular', ...",122975.63
99,Face,Motor V8,2019,NaN,True,"['Control de estabilidad', 'Ventanas eléctrica...",93227.73
100,Prius,Motor 3.0 32v,2006,81708.0,False,"['Llantas de aleación', 'Asientos de cuero', '...",58762.65
101,Idea,Motor V6,2001,70641.0,False,"['Central multimedia', 'Piloto automático', 'C...",139549.67
102,A8,Motor 2.0 16v,2019,NaN,True,"['Panel digital', 'Techo panorámico', 'Piloto ...",122016.42
103,Série 1 Cabrio,Motor 3.0 32v,2015,91277.0,False,"['Ventanas eléctricas', 'Cerraduras electricas...",72731.98
104,Edge,Motor V6,2018,26544.0,False,"['Frenos ABS', 'Control de tracción', 'Sensor ...",88416.54
105,Cadillac ATS sedan,Motor 1.8 16v,2017,52596.0,False,"['Panel digital', 'Ventanas eléctricas', 'Tech...",73873.42
106,Lamborghini Asterion LPI 910-4,Motor 5.0 V8 Bi-Turbo,1992,47503.0,False,"['Aire condicionado', 'Panel digital', 'Contro...",70709.34
107,Frontier,Motor V8,2001,89056.0,False,"['Transmisión automática', 'Llantas de aleació...",115306.50
108,Série 3 Sedã,Motor 3.0 32v,1993,28834.0,False,"['Control de tracción', 'Control de estabilida...",55924.63
109,Lamborghini LM002,Motor 1.8 16v,1995,110564.0,False,"['Asientos de cuero', 'Frenos ABS', 'Central m...",85052.26
110,Cadillac XLR,Motor Diesel V8,2003,56638.0,False,"['Sensor crepuscular', 'Techo panorámico', 'Se...",56646.34
111,A4 Avant,Motor Diesel,2014,17357.0,False,"['Techo panorámico', '4 X 4', 'Asientos de cue...",138946.88
112,EcoSport,Motor 4.0 Turbo,2008,74015.0,False,"['Piloto automático', 'Sensor de estacionamien...",108256.72
113,J3,Motor 1.8 16v,2013,15196.0,False,"['Control de estabilidad', '4 X 4', 'Cámara de...",58979.30
114,Q3,Motor 3.0 32v,2019,NaN,True,"['Control de estabilidad', 'Asientos de cuero'...",114727.68
115,Aston Martin V8 Vantage,Motor V8,2017,10821.0,False,"['Techo panorámico', 'Control de tracción', 'P...",139661.48
116,Z4 Roadster,Motor 3.0 32v,2019,NaN,True,"['Central multimedia', 'Transmisión automática...",80382.24
117,Lamborghini Ferruccio,Motor 3.0 32v,2019,NaN,True,"['Ventanas eléctricas', 'Piloto automático', '...",149157.17
118,Ford Ka+,Motor 1.8 16v,2006,9595.0,False,"['Sensor crepuscular', 'Piloto automático', 'C...",87830.41
119,Silver Shadow,Motor Diesel,2015,99052.0,False,"['4 X 4', 'Central multimedia', 'Aire condicio...",143568.22
120,Classe C 63 AMG Touring,Motor Diesel V8,2007,52389.0,False,"['Central multimedia', 'Piloto automático', 'F...",138171.85
121,Discovery 4,Motor 4.0 Turbo,2005,119945.0,False,"['Frenos ABS', 'Llantas de aleación', 'Sensor ...",115784.95
122,Veloster,Motor Diesel V8,2017,96005.0,False,"['Aire condicionado', 'Central multimedia', 'A...",146508.99
123,Classe C,Motor Diesel V6,1998,31639.0,False,"['Frenos ABS', 'Sensor de lluvia', 'Central mu...",137670.23
124,Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
125,C5 Tourer,Motor Diesel V6,1999,80187.0,False,"['Llantas de aleación', 'Sensor de lluvia', 'P...",147627.81
126,R8 GT,Motor 4.0 Turbo,2019,NaN,True,"['Llantas de aleación', 'Transmisión automátic...",62999.02
127,Bongo,Motor Diesel V8,2009,58212.0,False,"['Ventanas eléctricas', 'Techo panorámico', 'P...",91242.44
128,ASX,Motor Diesel V8,2003,61672.0,False,"['Aire condicionado', 'Sensor crepuscular', 'L...",149489.92
129,Cadillac SRX,Motor 5.0 V8 Bi-Turbo,1994,32017.0,False,"['Panel digital', 'Piloto automático', 'Contro...",63529.95
130,Classe CL,Motor V8,2019,NaN,True,"['Central multimedia', 'Transmisión automática...",58525.41
131,500 Abarth,Motor V6,1994,56944.0,False,"['4 X 4', 'Techo panorámico', 'Control de trac...",90345.05
132,Aston Martin Cygnet,Motor 5.0 V8 Bi-Turbo,2019,NaN,True,"['Panel digital', 'Aire condicionado', 'Sensor...",147770.87
133,Cadillac STS,Motor 4.0 Turbo,2015,86519.0,False,"['Panel digital', 'Asientos de cuero', 'Sensor...",106617.71
134,Aston Martin DB9,Motor 1.8 16v,1996,4821.0,False,"['Aire condicionado', 'Ventanas eléctricas', '...",104929.88
135,NX 200t,Motor 2.4 Turbo,1997,101025.0,False,"['Control de estabilidad', 'Panel digital', 'A...",100712.45
136,Aston Martin One-77,Motor V6,1993,30705.0,False,"['Sensor de estacionamiento', 'Llantas de alea...",141982.93
137,Lamborghini Veneno,Motor 3.0 32v,2019,NaN,True,"['4 X 4', 'Sensor de estacionamiento', 'Transm...",104038.79
138,Sentra,Motor 2.0 16v,1992,32555.0,False,"['Piloto automático', 'Sensor crepuscular', 'C...",88501.54
139,Jumper,Motor 2.4 Turbo,1995,103389.0,False,"['Aire condicionado', 'Llantas de aleación', '...",79782.02
140,i30,Motor 1.8 16v,2019,NaN,True,"['Transmisión automática', 'Control de estabil...",86224.10
141,X6,Motor Diesel V6,1990,55289.0,False,"['Cámara de estacionamiento', 'Cerraduras elec...",103596.18
142,Voyage,Motor 5.0 V8 Bi-Turbo,2019,NaN,True,"['Aire condicionado', 'Sensor de estacionamien...",148996.47
143,Phantom I Phantom II,Motor 1.8 16v,2019,NaN,True,"['Piloto automático', 'Frenos ABS', 'Panel dig...",60948.01
144,Passat Variant,Motor 1.0 8v,1991,115930.0,False,"['Frenos ABS', 'Llantas de aleación', 'Piloto ...",69535.44
145,Clio,Motor Diesel,1990,66437.0,False,"['4 X 4', 'Transmisión automática', 'Frenos AB...",111130.33
146,Classe G,Motor Diesel V6,2012,96800.0,False,"['Control de estabilidad', 'Central multimedia...",65847.69
147,Silver Ghost,Motor 1.8 16v,2007,14237.0,False,"['Cerraduras electricas', 'Panel digital', 'Cá...",78096.06
148,Série 3 M3 Coupé,Motor Diesel,2013,19896.0,False,"['Asientos de cuero', 'Sensor de lluvia', 'Air...",69219.89
149,Gallardo LP 560 – 4,Motor Diesel,2000,113045.0,False,"['Frenos ABS', 'Techo panorámico', 'Central mu...",144118.91
150,Freelander 2,Motor Diesel V6,2002,114942.0,False,"['4 X 4', 'Cámara de estacionamiento', 'Sensor...",77397.05
151,Grand Cherokee,Motor 5.0 V8 Bi-Turbo,1996,3173.0,False,"['Transmisión automática', 'Cerraduras electri...",68974.25
152,Aston Martin DBR9,Motor 4.0 Turbo,1996,83611.0,False,"['Control de estabilidad', 'Sensor de estacion...",125231.30
153,Soul,Motor 5.0 V8 Bi-Turbo,2015,25356.0,False,"['Sensor crepuscular', 'Piloto automático', 'S...",85501.12
154,Cadillac BLS,Motor V8,1993,88634.0,False,"['Techo panorámico', 'Control de estabilidad',...",137116.21
155,RX 350,Motor V6,2013,2314.0,False,"['Piloto automático', 'Sensor crepuscular', 'A...",138823.81
156,Cayman,Motor 3.0 32v,2013,2627.0,False,"['Central multimedia', 'Panel digital', 'Senso...",117961.95
157,Chana Utility,Motor Diesel,2009,52034.0,False,"['Aire condicionado', 'Sensor de estacionamien...",132662.32
158,308 CC,Motor 4.0 Turbo,2019,NaN,True,"['Cámara de estacionamiento', 'Asientos de cue...",146405.79
159,L200 Triton,Motor Diesel V8,2019,NaN,True,"['Ventanas eléctricas', 'Aire condicionado', '...",81999.21
160,Jetta,Motor 5.0 V8 Bi-Turbo,2002,79577.0,False,"['Central multimedia', 'Ventanas eléctricas', ...",140934.60
161,C4 Lounge,Motor V8,1997,108201.0,False,"['Central multimedia', 'Control de tracción', ...",82366.81
162,C4 Pallas,Motor 1.0 8v,1998,76453.0,False,"['4 X 4', 'Frenos ABS', 'Sensor de lluvia', 'L...",70424.11
163,Equus,Motor 3.0 32v,2004,57683.0,False,"['Cerraduras electricas', 'Llantas de aleación...",53620.31
164,Classe GL,Motor 3.0 32v,1996,96610.0,False,"['Frenos ABS', 'Cámara de estacionamiento', 'C...",73389.18
165,Range Rover Evoque,Motor 2.0 16v,2015,109001.0,False,"['Llantas de aleación', 'Techo panorámico', 'S...",111618.12
166,Cherokee,Motor 4.0 Turbo,2016,26212.0,False,"['Panel digital', 'Cerraduras electricas', 'Ll...",112187.37
167,Punto,Motor 4.0 Turbo,2005,45971.0,False,"['Central multimedia', 'Transmisión automática...",120812.57
168,Grand Tour,Motor 3.0 32v,1999,49182.0,False,"['Llantas de aleación', 'Cerraduras electricas...",116031.04
169,Fluence,Motor Diesel V6,1995,49907.0,False,"['Sensor crepuscular', 'Techo panorámico', 'Tr...",125398.11
170,Effa Hafei Picape Cabine Simples,Motor 1.0 8v,1993,38620.0,False,"['Piloto automático', 'Aire condicionado', 'Ce...",76101.47
171,Durango,Motor 2.0 16v,2004,60996.0,False,"['Asientos de cuero', 'Panel digital', 'Transm...",75263.24
172,Boxster,Motor Diesel V8,2013,73914.0,False,"['Techo panorámico', 'Sensor crepuscular', 'As...",147387.76
173,TT Roadster,Motor Diesel,1998,107392.0,False,"['Aire condicionado', 'Sensor de estacionamien...",85311.40
174,Lamborghini Jalpa,Motor 1.8 16v,2018,9146.0,False,"['Piloto automático', 'Frenos ABS', 'Sensor de...",54388.11
175,Classe SLK,Motor 4.0 Turbo,2019,NaN,True,"['4 X 4', 'Sensor de estacionamiento', 'Contro...",124156.65
176,Golf,Motor 1.0 8v,2018,17924.0,False,"['Llantas de aleación', 'Control de tracción',...",146203.34
177,C3 Picasso,Motor 3.0 32v,2019,NaN,True,"['Techo panorámico', 'Sensor crepuscular', 'Se...",56453.94
178,V50,Motor 2.0 16v,1990,116949.0,False,"['Techo panorámico', 'Cámara de estacionamient...",68873.79
179,Picanto,Motor 4.0 Turbo,2009,20476.0,False,"['Panel digital', 'Control de estabilidad', 'F...",91667.61
180,Cadenza,Motor Diesel V6,1990,52804.0,False,"['Sensor crepuscular', 'Control de estabilidad...",93776.52
181,Etios Sedã,Motor 5.0 V8 Bi-Turbo,2006,8849.0,False,"['Aire condicionado', 'Ventanas eléctricas', '...",66433.82
182,Alsvin,Motor Diesel V8,2002,91724.0,False,"['Central multimedia', 'Control de estabilidad...",109059.27
183,Cadillac ATS,Motor Diesel V6,1991,32056.0,False,"['Piloto automático', 'Llantas de aleación', '...",122069.97

In [ ]:
#Para saber el tipo de dato que tiene cada columna utilizamos lo siguiente
dataset.dtypes

Nombre          object
Motor           object
Año              int64
Kilometraje    float64
Cero_km           bool
Accesorios      object
Valor          float64
dtype: object

In [ ]:
#llamar a las estadisticas por variables
dataset[["Kilometraje","Valor"]].describe()
#count: cantidad de encuentros de datos
#mean: es el valor de la mediana
#std: desviacion estandar
#min: valor minimo
#25%, 50%, 75%: porcerntajes de datos
#max: son los datos maximos registrados

         Kilometraje          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
#Para obtener informacion de nuestro dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nombre       258 non-null    object
 1   Motor        258 non-null    object
 2   Año          258 non-null    int64
 3   Kilometraje  197 non-null    float64
 4   Cero_km      258 non-null    bool
 5   Accesorios   258 non-null    object
 6   Valor        258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABAJANDO CON TUPLAS
---

# 2.1 Creando tuplas

Tuplas son secuencias **inmutables** que son utilizadas para guardar colecciones de objetos, geralmente heterogéneos. Pueden ser construídas de varias formas:
```
- Utilizando un par de paréntesis: ( )
- Utilizando una coma a la derecha: x,
- Utilizando un par de paréntesis con objetos separados por comas: ( x, y, z )
- Utilizando: tuple() o tuple(iterador)
```

In [ ]:
#tupla vacia
()

()

In [ ]:
1,2,3

(1, 2, 3)

In [ ]:
nombre = "ecosport"
valor = 15000
(nombre,valor)

('ecosport', 15000)

In [ ]:
#convertir array en tupla, utilizo tuple()
nombres_autos = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nombres_autos

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
type(nombres_autos)

tuple

# 2.2 Selecciones en tuplas

In [ ]:
nombres_autos = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nombres_autos

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
nombres_autos[0]

'Jetta Variant'

In [ ]:
nombres_autos[1]

'Passat'

In [ ]:
nombres_autos[-1]

'DS5'

In [ ]:
#realizar cortes en nuestras tuplas nombres_autos[inicio:fin]. Indice final +1 para obtener ese valor
#si quiero el valor hasta el 2do valor, pongo 2+1=3
nombres_autos[1:3]

('Passat', 'Crossfox')

In [ ]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [ ]:
#acceder a una tupla adentro de otra segun el indice
nombres_carros[-1]

('Fusca', 'Gol', 'C4')

In [ ]:
#acceder a una valor de tupla adentro de otra tupla segun el indice
nombres_carros[-1][1]

'Gol'

#**Ejercicio**

In [ ]:
#ejercicio
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Llantas de aleación', 'Cerraduras eléctricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimedia', 'Techo panoramico', 'Frenos ABS')
    )
)

In [ ]:
carros

(('Jetta Variant',
  'Motor 4.0 Turbo',
  2003,
  False,
  ('Llantas de aleación', 'Cerraduras eléctricas', 'Piloto automático')),
 ('Passat',
  'Motor Diesel',
  1991,
  True,
  ('Central multimedia', 'Techo panoramico', 'Frenos ABS')))

In [ ]:
carros[0][3]

False

In [ ]:
carros[-1][-1][-1]

'Frenos ABS'

In [ ]:
#fin del ejercicio
carros[0][-1][:2]

('Llantas de aleación', 'Cerraduras eléctricas')

# 2.3 Iterando en tuplas

In [ ]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
for item in nombres_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacando tuplas

In [ ]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
#imprime utilizando variables separadas
auto_1,auto_2,auto_3,auto_4 = nombres_carros

In [ ]:
auto_1

'Jetta Variant'

In [ ]:
auto_2

'Passat'

In [ ]:
auto_3

'Crossfox'

In [ ]:
auto_4

'DS5'

In [ ]:
#por si yo quiero una variable especifica y no quiero las demas, las que no quiero van con _ . las que quiero le pongo nombre
_,var1,_,var2 = nombres_carros

In [ ]:
var1

'Passat'

In [ ]:
var2

'DS5'

In [ ]:
#Para trabajar con grandes cantidades de codigo y tengo que ignorar una parte, pongo el *
# donde quiera finalizar la lectura. Es un truquito para BIG-DATA
_,var3,*_ = nombres_carros

In [ ]:
var3

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

Se utiliza para combinar elementos de iterables diferentes en una sola estructura de datos conocida como un objeto zip. Toma como entrada dos o más iterables, como listas, tuplas o cadenas, y devuelve un iterador que genera tuplas que contienen elementos de los iterables originales en paralelo. Osea poner 2 listas juntas

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [ ]:
#para verla
list(zip(carros, valores))
#si queremos saber la ubicacion guardada ponemos zip nada mas y los 2 arrays

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [ ]:
#si lo queremos ver como tupla y no como tupla adentro de array
for item in zip(carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [ ]:
#Para desempaquetar todo
for carro,valor in zip(carros, valores):
  print(carro,valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [ ]:
for carro,valor in zip(carros, valores):
  if (valor > 100000):
   print(carro,"Valor =",valor)

Passat Valor = 106161.94
DS5 Valor = 124549.07

# **Ejercicio**

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Llantas de aleación', 'Cerraduras eléctricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimedia', 'Techo panoramico', 'Frenos ABS')
    )
)

In [ ]:
for tupla in carros:
    for item in tupla[-1]:
        print(item)

Llantas de aleación
Cerraduras eléctricas
Piloto automático
Central multimedia
Techo panoramico
Frenos ABS

# **Ejercicio**

In [ ]:
nombre, valor = ('Passat', 100000.0)

In [ ]:
nombres = ['Passat', 'Crossfox']
valores = [100000.0, 75000.0]
list(zip(nombres, valores))

[('Passat', 100000.0), ('Crossfox', 75000.0)]

In [ ]:
nombres = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [ ]:
for nombre, km in zip(nombres, kms):
    if(km < 20000):
        print(nombre)

Passat
Crossfox
C4

# <font color=green> 3. TRABAJANDO CON DICCIONARIOS
---

# 3.1 Creando diccionarios

Listas son colecciones secuenciales, es decir, los elementos de estas secuencias están ordenados y utilizan índices (números enteros) para acceder a los valores.

Los diccionarios son colecciones ligeramente diferentes. Son estructuras de datos que representan un tipo de mapeo. Los mapeos son colecciones de asociaciones entre pares de valores donde el primer elemento del par se conoce como llave (*key*) y el segundo como valor (*value*).

```
diccionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [ ]:
carros.index("Passat")

1

In [ ]:
valores[carros.index("Passat")]

106161.94

In [ ]:
#Creamos un diccionario para agilizar y no escribir lo de arriba
datos = {'Jetta Variant':88078.64,'Passat':106161.94,'Crossfox':72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
type(datos)

dict

### Creando diccionarios con *zip()*

In [ ]:
list(zip(carros,valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [ ]:
#Pasar de una build de array de tuplas a una build de diccionario
datos = dict(zip(carros,valores))
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# **Ejercicio**

In [ ]:
nombres = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [ ]:
dict(zip(nombres, kms))

{'Passat': 15000, 'Crossfox': 12000, 'DS5': 32000, 'C4': 8000, 'Jetta': 50000}

# 3.2 Operaciones con diccionarios

In [ ]:
nombres = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [ ]:
datos = {'Jetta Variant':88078.64,'Passat':106161.94,'Crossfox':72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

## *dict[ key ]*

Devuelve el valor correspondiente a la llave (*key*) en el diccionario.

In [ ]:
#Devuelve el valor del vehiculo
datos["Passat"]

106161.94

## *key in dict*

Devuelve **True** si la llave (*key*) es encontrada en el diccionario. Sino devuelve **False**

In [ ]:
"Passat" in datos

True

In [ ]:
"Ford-Focus" in datos

False

In [ ]:
"Ford-Focus" not in datos

True

## *len(dict)*

Devuelve el número de items del diccionario.

In [ ]:
len(datos)

3

## *dict[ key ] = value*

Incluye un item al diccionario.

In [ ]:
datos["Ford-Ranger"] = 1440245.02
datos

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'Ford-Ranger': 1440245.02}

## *del dict[ key ]*

Borra el item de llave (*key*) del diccionario.

In [ ]:
#Fijarse porque si devuelve un error significa que no existe
#en nuestro diccionario
del datos["Passat"]

In [ ]:
#Elimino el elemento "Passat"
datos

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'Ford-Ranger': 1440245.02}

# **Ejercicio**

In [ ]:
datos = {
    'Passat': {
        'año': 2012,
        'km': 50000,
        'valor': 75000,
        'accesorios': ['Airbag', 'ABS']
    },
    'Crossfox': {
        'año': 2015,
        'km': 35000,
        'valor': 25000
    }
}

In [ ]:
'accesorios' in datos['Crossfox']

'accesorios' in 'Passat'

datos['Crossfox']['valor']

datos['Passat']['accesorios'][-1]

'ABS'

In [ ]:
#Otra Posivilidad (acceder a Airbag)
datos['Passat']

{'año': 2012, 'km': 50000, 'valor': 75000, 'accesorios': ['Airbag', 'ABS']}

In [ ]:
datos['Passat']['accesorios']

['Airbag', 'ABS']

In [ ]:
datos['Passat']['accesorios'][0]

'Airbag'

# 3.3 Métodos de diccionarios

## *dict.update()*

Actualiza el diccionario.

In [ ]:
datos

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'Ford-Ranger': 1440245.02}

In [ ]:
#Restablecer,modificar o incluir otro elemento que saque con del
datos.update({'Passat':106161.94})
datos

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Ford-Ranger': 1440245.02,
 'Passat': 106161.94}

In [ ]:
datos.update({'Passat':500000.45, "Renault 8":150000.25})
datos

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Ford-Ranger': 1440245.02,
 'Passat': 500000.45,
 'Renault 8': 150000.25}

## *dict.copy()*

Crea una copia del diccionario.

In [ ]:
#Podemos copiar el contenido de nuestro diccionario en otro diccionario
datosCopy = datos.copy()
datosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Ford-Ranger': 1440245.02,
 'Passat': 500000.45,
 'Renault 8': 150000.25}

In [ ]:
del datosCopy['Ford-Ranger']
datosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Passat': 500000.45,
 'Renault 8': 150000.25}

In [ ]:
datos

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Ford-Ranger': 1440245.02,
 'Passat': 500000.45,
 'Renault 8': 150000.25}

## *dict.pop(key[, default ])*

Si la llave se encuentra en el diccionario, el elemento se elimina y se devuelve su valor. De lo contrario, se devuelve el valor especificado como *default*. Si no se proporciona el valor *default* y la llave no se encuentra en el diccionario, se generará un error.

In [ ]:
datosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Passat': 500000.45,
 'Renault 8': 150000.25}

In [ ]:
datosCopy.pop("Passat")

500000.45

In [ ]:
datosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'Renault 8': 150000.25}

In [ ]:
#si ya no existe nos sale un error
#datosCopy.pop("Passat")

In [ ]:
#Podemos personalizar el error si es que no se encuentra el dato
datosCopy.pop("Passat","La Llave no se encontro")

'La Llave no se encontro'

In [ ]:
datosCopy.pop("Crossfox","La Llave no se encontro")

72832.16

In [ ]:
datosCopy

{'Jetta Variant': 88078.64, 'Renault 8': 150000.25}

## *dict.clear()*

Borra todos los items del diccionario.

In [ ]:
datosCopy

{'Jetta Variant': 88078.64, 'Renault 8': 150000.25}

In [ ]:
datosCopy.clear()

In [ ]:
datosCopy

{}

# **Ejercicio**

In [ ]:
#Tengo mi diccionario
datosej = {'Jetta': 88000, 'Crossfox': 72000, 'DS5': 124000}

In [ ]:
 #Agrego 2 autos con sus valores
 datosej.update({'Passat': 85000, 'Fusca': 150000})

In [ ]:
#Cambio el valor de los autos nuevos agregados y los mustro
datosej.update(Passat = 95000, Fusca = 160000)
datosej

{'Jetta': 88000,
 'Crossfox': 72000,
 'DS5': 124000,
 'Passat': 95000,
 'Fusca': 160000}

# 3.4 Iterando en diccionarios

In [ ]:
datos = {'Jetta Variant':88078.64, 'Ford-Ranger': 1440245.02, "Renault 8": 150000.25,'Passat':106161.94,'Crossfox':72832.16}
datos

{'Jetta Variant': 88078.64,
 'Ford-Ranger': 1440245.02,
 'Renault 8': 150000.25,
 'Passat': 106161.94,
 'Crossfox': 72832.16}

## *dict.keys()*

Devuelve una lista con las llaves (*keys*) del diccionario.

In [ ]:
datos.keys()

dict_keys(['Jetta Variant', 'Ford-Ranger', 'Renault 8', 'Passat', 'Crossfox'])

In [ ]:
for key in datos.keys():
  print(key)

Jetta Variant
Ford-Ranger
Renault 8
Passat
Crossfox

## *dict.values()*

Devuelve una lista con todos los valores (*values*) del diccionario.

In [ ]:
datos.values()

dict_values([88078.64, 1440245.02, 150000.25, 106161.94, 72832.16])

In [ ]:
for values in datos.values():
  print(values)

88078.64
1440245.02
150000.25
106161.94
72832.16

## *dict.items()*

Devuelve una lista con una tupla para cada par llave-valor (*key-value*) del diccionario.

In [ ]:
datos.items()

dict_items([('Jetta Variant', 88078.64), ('Ford-Ranger', 1440245.02), ('Renault 8', 150000.25), ('Passat', 106161.94), ('Crossfox', 72832.16)])

In [ ]:
for items in datos.items():
  print(items)

('Jetta Variant', 88078.64)
('Ford-Ranger', 1440245.02)
('Renault 8', 150000.25)
('Passat', 106161.94)
('Crossfox', 72832.16)

In [ ]:
for key,value in datos.items():
  print(key,"-->",value)

Jetta Variant --> 88078.64
Ford-Ranger --> 1440245.02
Renault 8 --> 150000.25
Passat --> 106161.94
Crossfox --> 72832.16

In [ ]:
for key,value in datos.items():
  if(value)>100000:
   print(key)

Ford-Ranger
Renault 8
Passat

# **Ejercicio**

Selecciona la alternativa que muestre el código que imprima sólo los nombres de los vehículos que tengan el año de fabricación mayor o igual a 2000.

In [ ]:
datos = {
    'Crossfox': {'valor': 72000, 'año': 2005},
    'DS5': {'valor': 125000, 'año': 2015},
    'Fusca': {'valor': 150000, 'año': 1976},
    'Jetta': {'valor': 88000, 'año': 2010},
    'Passat': {'valor': 106000, 'año': 1998}
}

Para acceder a la clave del diccionario, basta utilizar item[0], y para acceder al valor, basta usar item[1]. Para acceder el año dentro del diccionario, usamos item[1] ['año'].

In [ ]:
for item in datos.items():
    if(item[1]['año'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta

# <font color=green> 4. FUNCIONES Y PAQUETES
---

Funciones son unidades de código reutilizables que realizan una tarea específica, pueden recibir alguna entrada y también pueden devolver algún resultado.

# 4.1 Built-in function

El lenguaje Python tiene varias funciones integradas que siempre están accesibles. Algunas ya las usamos en nuestro entrenamiento:
type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

MANERA DIFICIL: SIN **built-in functions**

In [ ]:
#Que tenemos que hacer para sumar los valores sin
#las build functions
datos = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
#Transformo el diccionario en una array
valores = []
for valor in datos.values():
   valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [ ]:
#Sumo los valores del array
suma = 0
for valor in datos.values():
   valores.append(valor)
   suma+=valor
suma

267072.74

MANERA FACIL: CON **built-in functions**

In [ ]:
#Transformo el diccionario en una array
list(datos.values())

[88078.64, 106161.94, 72832.16]

In [ ]:
#Sumo los valores del array
#Puedo poner ,x (en el 0) donde x es el valor inicial al que se le suma
sum(datos.values(),0)

267072.74

In [ ]:
list(datos.values())
#Se le suma datos.values() a 200000.00
sum(datos.values(),200000.00)

467072.74

Pedir ayuda o informacion de la **built-in functions**

In [ ]:
#ponemos help(y aca adentro la function)
help(print)

In [ ]:
#Ponemos la function y un ? seguidamente
print?

# 4.2 Definiendo funciones sin y con parámetros

### Funciones sin parámetros

#### Formato estándar

```
def <nombre>():
    <instrucciones>
```

In [ ]:
def media():
  valor = (1+2+3)/3
  print(valor)

In [ ]:
media()

2.0

### Funciones con parámetros

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
```

In [ ]:
def media(numero1,numero2,numero3):
  valor = (numero1+numero2+numero3)/3
  print(valor)

In [ ]:
media(1,2,3)

2.0

In [ ]:
media(50,100,150)

100.0

**FUNCION DE N NUMEROS POR N CALCULOS**

In [ ]:
#Esta funcion muestra por pantalla pero no retorna ningun valor
def media(lista):
  valor = (sum(lista))/len(lista)
  print(valor)

In [ ]:
resultado = media([1,2,3,4,5,6,7,8,9])

In [ ]:
resultado

In [ ]:
#No retorna ningun valor al resultado
type(resultado)

NoneType

# **EJERCICIO**

In [ ]:
datos = {
    'Crossfox': {'km': 35000, 'año': 2005},
    'DS5': {'km': 17000, 'año': 2015},
    'Fusca': {'km': 130000, 'año': 1979},
    'Jetta': {'km': 56000, 'año': 2011},
    'Passat': {'km': 62000, 'año': 1999}
}

In [ ]:
def km_media(dataset, año_actual):
    for item in dataset.items():
        result = item[1]['km'] / (año_actual - item[1]['año'])
        print(result)

In [ ]:
km_media(datos, 2019)

2500.0
4250.0
3250.0
7000.0
3100.0

# 4.3 Definiendo funciones que devuelven valores

### Funciones que devuelven un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return <resultado>
```

In [ ]:
def media(lista):
  valor = (sum(lista))/len(lista)
  return(valor)

In [ ]:
media([1,2,3,4,5,6,7,8,9])

5.0

In [ ]:
resultado = media([1,2,3,4,5,6,7,8,9])

In [ ]:
resultado

5.0

### Funciones que devuelven más de un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [ ]:
#Que devuelva el promedio y la longitud de la lista
def media(lista):
  valor = (sum(lista))/len(lista)
  return(valor,len(lista))

In [ ]:
#Devuelve una tupla
media([1,2,3,4,5,6,7,8,9])

(5.0, 9)

In [ ]:
resultado, n = media([1,2,3,4,5,6,7,8,9])

In [ ]:
resultado

5.0

In [ ]:
n

9

# **Ejercicio**

La siguiente estructura es la definición de una función que calcula el kilometraje promedio anual de cada vehículo y devuelve un diccionario con los nombres de los vehículos como llaves y el kilometraje promedio como valores:

In [ ]:
datos = {
    'Crossfox': {'km': 35000, 'año': 2005},
    'DS5': {'km': 17000, 'año': 2015},
    'Fusca': {'km': 130000, 'año': 1979},
    'Jetta': {'km': 56000, 'año': 2011},
    'Passat': {'km': 62000, 'año': 1999}
}

In [ ]:
def km_media(dataset, año_actual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (año_actual - item[1]['año'])
        result.update({ item[0]: media })
    return result

In [ ]:
km_media(datos, 2019)

{'Crossfox': 2500.0,
 'DS5': 4250.0,
 'Fusca': 3250.0,
 'Jetta': 7000.0,
 'Passat': 3100.0}

# **Ejercicio**

La siguiente estructura es la definición de una función que calcula el kilometraje promedio anual de cada vehículo, actualiza el diccionario de entrada y devuelve este diccionario:

In [ ]:
datos = {
    'Crossfox': {'km': 35000, 'año': 2005},
    'DS5': {'km': 17000, 'año': 2015},
    'Fusca': {'km': 130000, 'año': 1979},
    'Jetta': {'km': 56000, 'año': 2011},
    'Passat': {'km': 62000, 'año': 1999}
}

In [ ]:
def km_media(dataset, año_actual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (año_actual - item[1]['año'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })
    return result

In [ ]:
km_media(datos, 2019)

{'Crossfox': {'km': 35000, 'año': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'año': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'año': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'año': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'año': 1999, 'km_media': 3100.0}}

# <font color=green> 5. PANDAS BÁSICO
---

**versión: 1.1.0**

Pandas es una herramienta de manipulación de datos de alto nivel, construida sobre la base del paquete Numpy. El paquete pandas tiene estructuras de datos muy interesantes para la manipulación de datos y, por esto, es ampliamente utilizado por los científicos de datos.


## Estructuras de Datos

### Series

Series son arrays unidimensionales etiquetados capaces de almacenar cualquier tipo de dato. Las etiquetas de las líneas se denominan **index**. La forma básica de crear una Series es la siguiente:


```
    s = pd.Series(datos, index = index)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy o una constante.

### DataFrames

DataFrame es una estructura de datos tabular bidimensional con etiquetas de fila y columna. Como la Series, los DataFrames son capaces de almacenar cualquier tipo de datos.


```
    df = pd.DataFrame(datos, index = index, columns = columns)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy, una Series y otro DataFrame.

**Documentación:** https://pandas.pydata.org/pandas-docs/version/1.1.0/

# 5.1 Estructuras de datos

Series()

In [ ]:
import pandas as pd

### Creando una Series a partir de una lista

In [ ]:
autos = ["Dodge Viper","Ford Mustang","Lamborghini"]
autos

['Dodge Viper', 'Ford Mustang', 'Lamborghini']

In [ ]:
pd.Series(autos)

0     Dodge Viper
1    Ford Mustang
2     Lamborghini
dtype: object

### Creando un DataFrame a partir de una lista de diccionarios

In [ ]:
datos = [
    {'Nombre': 'Dodge Viper', 'Motor': 'Motor 4.0 Turbo', 'Año': 2003, 'Kilometraje': 44410.0, 'Cero_km': False, 'Valor': 88078.64},
    {'Nombre': 'Ford Mustang', 'Motor': 'Motor Diesel', 'Año': 1991, 'Kilometraje': 5712.0, 'Cero_km': False, 'Valor': 106161.94},
    {'Nombre': 'Lamborghini', 'Motor': 'Motor Diesel V8', 'Año': 1990, 'Kilometraje': 37123.0, 'Cero_km': False, 'Valor': 72832.16}
]

In [ ]:
#Creamos un DataFrame()
dataset = pd.DataFrame(datos)

In [ ]:
dataset

         Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0   Dodge Viper  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1  Ford Mustang     Motor Diesel  1991       5712.0    False  106161.94
2   Lamborghini  Motor Diesel V8  1990      37123.0    False   72832.16

In [ ]:
#Por si yo quiero cambiar el orden en el que se muestran los datos del DataFrame
dataset[["Nombre","Año","Cero_km","Kilometraje","Motor","Valor"]]

         Nombre   Año  Cero_km  Kilometraje            Motor      Valor
0   Dodge Viper  2003    False      44410.0  Motor 4.0 Turbo   88078.64
1  Ford Mustang  1991    False       5712.0     Motor Diesel  106161.94
2   Lamborghini  1990    False      37123.0  Motor Diesel V8   72832.16

### Creando un DataFrame a partir de un diccionario

In [ ]:
datos = {
    'Nombre': ['Jetta Variant', 'Passat', 'Crossfox'],
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Año': [2003, 1991, 1990],
    'Kilometraje': [44410.0, 5712.0, 37123.0],
    'Cero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [ ]:
dataset = pd.DataFrame(datos)

In [ ]:
dataset

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

### Creando un DataFrame a partir de un archivo externo

In [ ]:
#Poner el archivo de excel "db.csv" adentro de las carpetas
#En sep(algo), puedo poner "\t" , ";" . Poner siempre ; mejor
#adentro de sep() puedo poner ,index_col = x y hace referencia a ese valor
dataset = pd.read_csv("db.csv", sep =";")

In [ ]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

# **Ejercicio**

In [ ]:
datos = {
    'Crossfox': {'km': 35000, 'año': 2005},
    'DS5': {'km': 17000, 'año': 2015},
    'Fusca': {'km': 130000, 'año': 1979},
    'Jetta': {'km': 56000, 'año': 2011},
    'Passat': {'km': 62000, 'año': 1999}
}

In [ ]:
def km_media(dataset, año_actual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (año_actual - item[1]['año'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })

    return result

In [ ]:
km_media(datos, 2019)

{'Crossfox': {'km': 35000, 'año': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'año': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'año': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'año': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'año': 1999, 'km_media': 3100.0}}

In [ ]:
import pandas as pd
carros = pd.DataFrame(km_media(datos, 2019)).T

In [ ]:
carros

                km     año  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0

# 5.2 Selecciones con DataFrames

### Seleccionando columnas

In [ ]:
dataset = pd.read_csv("db.csv", sep =";",index_col=0)

In [ ]:
#dataset.head(x), da vista previa de x filas
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [ ]:
#Da nombre y balor de cada uno
dataset["Valor"]

Nombre
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [ ]:
#El tipo de dato es un archivo de tipo series
type(dataset["Valor"])

pandas.core.series.Series

In [ ]:
#Lo mismo pero en un DataFrame
dataset[["Valor"]]

                           Valor
Nombre
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [ ]:
#El tipo de dato es un archivo de tipo DataFrame
type(dataset[["Valor"]])

pandas.core.frame.DataFrame

### Seleccionando lineas - [ i : j ]

<font color=red>**Observación:**</font> La indexación tiene origen en cero y en las particiones(*slices*) la línea con índice i es **incluída** y la línea con índice j **no es incluída** en el resultado.

In [ ]:
# X,Y  X es desde tal fila, Y es hasta tal fila
dataset[0:5]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

### Utilizando .loc para selecciones

<font color=red>**Observación:**</font> Selecciona un grupo de líneas y columnas según las etiquetas o una matriz booleana.

In [ ]:
#Basicamente buscas las caracteristicas por nombre
dataset.loc['Passat']

Motor                                               Motor Diesel
Año                                                         1991
Kilometraje                                               5712.0
Cero_km                                                    False
Accesorios     ['Central multimedia', 'Techo panorámico', 'Fr...
Valor                                                  106161.94
Name: Passat, dtype: object

In [ ]:
#Si yo lo quiero en un DataFrame
dataset.loc[['Passat']]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94

In [ ]:
#Si yo quiero un tipo de dato especifico solo pongo ,"tipo de dato que quiera"
dataset.loc['Passat','Valor']

106161.94

In [ ]:
#Si yo quiero mas de un index de busqueda
dataset.loc[['Passat','DS5']]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [ ]:
#Si yo quiero ver una columna especifica
dataset.loc[['Passat','DS5'],['Motor','Valor']]

                  Motor      Valor
Nombre
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [ ]:
#Si quiero ver todos los index pongo : nada mas y no un nombre
dataset.loc[:,['Motor','Valor']]

                                       Motor      Valor
Nombre
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para selecciones

<font color=red>**Observación:**</font> Selecciona con base en los índices, es decir, utiliza la posición de las informaciones.

In [ ]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [ ]:
#Buscar por pocision y no por index/nombre
dataset.iloc[[1]]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94

In [ ]:
#Si yo quiero mostrar un intervalo de posiciones, uso un solo[]
#Empieza en 0 y termina en n-1
dataset.iloc[1:4]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [ ]:
#Poner las columnas como yo quiera. ejemplo Motor,Valor,Kilometraje
dataset.iloc[1:4,[0,5,2]]

                    Motor      Valor  Kilometraje
Nombre
Passat       Motor Diesel  106161.94       5712.0
Crossfox  Motor Diesel V8   72832.16      37123.0
DS5       Motor 2.4 Turbo  124549.07          NaN

In [ ]:
#Las filas que yo quiera, ejemplo [1,42,22]
dataset.iloc[[1,42,22],[0,5,2]]

                               Motor      Valor  Kilometraje
Nombre
Passat                  Motor Diesel  106161.94       5712.0
Optima                 Motor 1.8 16v   86641.34          NaN
Lamborghini Obvious  Motor Diesel V6  133529.84      98079.0

In [ ]:
#Para que muestre todas ponemos :
dataset.iloc[:,[0,5,2]]

                                       Motor      Valor  Kilometraje
Nombre
Jetta Variant                Motor 4.0 Turbo   88078.64      44410.0
Passat                          Motor Diesel  106161.94       5712.0
Crossfox                     Motor Diesel V8   72832.16      37123.0
DS5                          Motor 2.4 Turbo  124549.07          NaN
Aston Martin DB4             Motor 2.4 Turbo   92612.10      25757.0
...                                      ...        ...          ...
Phantom 2013                        Motor V8   51759.58      27505.0
Cadillac Ciel concept               Motor V8   51667.06      29981.0
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03      52637.0
Aston Martin DB5                Motor Diesel  122110.90       7685.0
Macan                        Motor Diesel V6   90381.47      50188.0

[258 rows x 3 columns]

# **Ejercicio**

Elige la alternativa que contenga el código que selecciona solamente las informaciones de Nombre, Año, Kilometraje y Valor de los vehículos Passat y Crossfox.

In [ ]:
import pandas as pd

datos = {
   'Nombre': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'],
   'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Año': [2019, 2003, 1991, 2019, 1990],
    'Kilometraje': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Cero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(datos)

In [ ]:
dataset[['Nombre', 'Año', 'Kilometraje', 'Valor']][1:3]

     Nombre   Año  Kilometraje     Valor
1    Passat  2003       5712.0  106000.0
2  Crossfox  1991      37123.0   72000.0

# **Ejercicio**

In [ ]:
import pandas as pd

datos = {
   'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
   'Año': [2019, 2003, 1991, 2019, 1990],
   'Kilometraje': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
   'Cero_km': [True, False, False, True, False],
   'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(datos, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [ ]:
dataset.iloc[[1, 3], [0, -1]]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [ ]:
# dataset.loc[['Passat','DS5'], ['Motor','Valor']]

# 5.3 Consultas en DataFrames
queries/query

In [ ]:
#Cuando no tienen nombres para buscar
dataset.Motor

Nombre
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [ ]:
#Quiero buscar los motores que digan Motor Diesel
dataset.Motor == "Motor Diesel"

Nombre
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [ ]:
#Es una serie booleana
type(dataset.Motor == "Motor Diesel")

pandas.core.series.Series

In [ ]:
#Va a devolver solo las que tengan True
dataset[dataset.Motor == "Motor Diesel"]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Control de estabilidad', 'Panel digital', 'V...",125684.65
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamiento', 'Cerraduras elec...",66007.16
Kangoo Express,Motor Diesel,2007,29132.0,False,"['Asientos de cuero', 'Transmisión automática'...",146716.91
Fit,Motor Diesel,2013,44329.0,False,"['Frenos ABS', 'Cámara de estacionamiento', 'T...",77836.23
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Symbol,Motor Diesel,2016,117714.0,False,"['4 X 4', 'Piloto automático', 'Sensor crepusc...",133030.60
A4 Sedan,Motor Diesel,2002,30511.0,False,"['Cámara de estacionamiento', '4 X 4', 'Cerrad...",96369.04
A4 Avant,Motor Diesel,2014,17357.0,False,"['Techo panorámico', '4 X 4', 'Asientos de cue...",138946.88
Silver Shadow,Motor Diesel,2015,99052.0,False,"['4 X 4', 'Central multimedia', 'Aire condicio...",143568.22
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Clio,Motor Diesel,1990,66437.0,False,"['4 X 4', 'Transmisión automática', 'Frenos AB...",111130.33
Série 3 M3 Coupé,Motor Diesel,2013,19896.0,False,"['Asientos de cuero', 'Sensor de lluvia', 'Air...",69219.89
Gallardo LP 560 – 4,Motor Diesel,2000,113045.0,False,"['Frenos ABS', 'Techo panorámico', 'Central mu...",144118.91
Chana Utility,Motor Diesel,2009,52034.0,False,"['Aire condicionado', 'Sensor de estacionamien...",132662.32
TT Roadster,Motor Diesel,1998,107392.0,False,"['Aire condicionado', 'Sensor de estacionamien...",85311.40
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Sandero,Motor Diesel,2015,34783.0,False,"['Piloto automático', 'Techo panorámico', 'Tra...",112350.61
XKR,Motor Diesel,1996,85127.0,False,"['Control de tracción', 'Aire condicionado', '...",54263.16
X5,Motor Diesel,2002,13606.0,False,"['Control de tracción', 'Piloto automático', '...",62041.32
Dodge Dakota,Motor Diesel,1993,71544.0,False,"['Control de tracción', 'Sensor de estacionami...",141083.35
i30 CW,Motor Diesel,2015,8497.0,False,"['Sensor de lluvia', 'Ventanas eléctricas', 'C...",73311.75
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79
V60,Motor Diesel,2004,91840.0,False,"['Llantas de aleación', 'Sensor crepuscular', ...",114728.74
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90

In [ ]:
#Hago la condiccion que tenga motor diesel y que sea un cero kilometro
dataset[(dataset.Motor == "Motor Diesel") & (dataset.Cero_km == True)]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79

### Utilizando el método query

In [ ]:
#Otra manera mas facil de hacer lo mismo que arriba
dataset.query('Motor == "Motor Diesel" and Cero_km == True')

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79

# 5.4 Iterando con DataFrames

In [ ]:
for item in dataset:
  print(item)

Motor
Año
Kilometraje
Cero_km
Accesorios
Valor

In [ ]:
list(dataset.iterrows())

[('Jetta Variant',
  Motor                                            Motor 4.0 Turbo
  Año                                                         2003
  Kilometraje                                              44410.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', 'Cerraduras electricas...
  Valor                                                   88078.64
  km_promedio                                          2612.352941
  Name: Jetta Variant, dtype: object),
 ('Passat',
  Motor                                               Motor Diesel
  Año                                                         1991
  Kilometraje                                               5712.0
  Cero_km                                                    False
  Accesorios     ['Central multimedia', 'Techo panorámico', 'Fr...
  Valor                                                  106161.94
  km_promedio                                           196.965517
  Name: Passat, dtype: object),
 ('Crossfox',
  Motor                                            Motor Diesel V8
  Año                                                         1990
  Kilometraje                                              37123.0
  Cero_km                                                    False
  Accesorios     ['Piloto automático', 'Control de estabilidad'...
  Valor                                                   72832.16
  km_promedio                                          1237.433333
  Name: Crossfox, dtype: object),
 ('DS5',
  Motor                                            Motor 2.4 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Cerraduras electricas', '4 X 4', 'Ventanas e...
  Valor                                                  124549.07
  km_promedio                                                  NaN
  Name: DS5, dtype: object),
 ('Aston Martin DB4',
  Motor                                            Motor 2.4 Turbo
  Año                                                         2006
  Kilometraje                                              25757.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', '4 X 4', 'Central mult...
  Valor                                                    92612.1
  km_promedio                                          1839.785714
  Name: Aston Martin DB4, dtype: object),
 ('Palio Weekend',
  Motor                                              Motor 1.8 16v
  Año                                                         2012
  Kilometraje                                              10728.0
  Cero_km                                                    False
  Accesorios     ['Sensor de estacionamiento', 'Techo panorámic...
  Valor                                                   97497.73
  km_promedio                                               1341.0
  Name: Palio Weekend, dtype: object),
 ('A5',
  Motor                                            Motor 4.0 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Transmisión automática', 'Cámara de estacion...
  Valor                                                    56445.2
  km_promedio                                                  NaN
  Name: A5, dtype: object),
 ('Série 3 Cabrio',
  Motor                                               Motor 1.0 8v
  Año                                                         2009
  Kilometraje                                              77599.0
  Cero_km                                                    False
  Accesorios     ['Control de estabilidad', 'Sensor crepuscular...
  Valor                                                  112310.44
  km_promedio                                          7054.454545
  Name: Série 3 Cabrio, dtype: object),
 ('Dodge Jorney',
  Motor                                              Motor 3.0 32v
  Año                                                         2010
  Kilometraje                                              99197.0
  Cero_km                                                    False
  Accesorios     ['Ventanas eléctricas', 'Piloto automático', '...
  Valor                                                  120716.27
  km_promedio                                               9919.7
  Name: Dodge Jorney, dtype: object),
 ('Carens',
  Motor                                      Motor 5.0 V8 Bi-Turbo
  Año                                                         2011
  Kilometraje                                              37978.0
  Cero_km                                                    False
  Accesorios     ['Aire condicionado', 'Panel digital', 'Centra...
  Valor                                                   76566.49
  km_promedio                                          4219.777778
  Name: Carens, dtype: object),
 ('Ford Edge',
  Motor                                            Motor Diesel V6
  Año                                                         2002
  Kilometraje                                              12859.0
  Cero_km                                                    False
  Accesorios     ['Sensor crepuscular', 'Llantas de aleación', ...
  Valor                                                   71647.59
  km_promedio                                           714.388889
  Name: Ford Edge, dtype: object),
 ('Courier',
  Motor                                            Motor Diesel V8
  Año                                                         2007
  Kilometraje                                               8052.0
  Cero_km                                                    False
  Accesorios     ['Central multimedia', '4 X 4', 'Piloto automá...
  Valor                                                   73919.53
  km_promedio                                           619.384615
  Name: Courier, dtype: object),
 ('S-18',
  Motor                                                   Motor V6
  Año                                                         2001
  Kilometraje                                              89773.0
  Cero_km                                                    False
  Accesorios     ['Asientos de cuero', 'Sensor de lluvia', 'Lla...
  Valor                                                  112732.99
  km_promedio                                          4724.894737
  Name: S-18, dtype: object),
 ('J5',
  Motor                                                   Motor V6
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Sensor crepuscular', 'Panel digital', 'Llant...
  Valor                                                   53183.38
  km_promedio                                                  NaN
  Name: J5, dtype: object),
 ('F-Type Coupé',
  Motor                                      Motor 5.0 V8 Bi-Turbo
  Año                                                         2009
  Kilometraje                                              41457.0
  Cero_km                                                    False
  Accesorios     ['Piloto automático', 'Sensor crepuscular', 'S...
  Valor                                                  127488.42
  km_promedio                                          3768.818182
  Name: F-Type Coupé, dtype: object),
 ('RAM',
  Motor                                            Motor Diesel V8
  Año                                                         2016
  Kilometraje                                             115607.0
  Cero_km                                                    False
  Accesorios     ['Sensor crepuscular', 'Transmisión automática...
  Valor                                                    59910.4
  km_promedio                                             28901.75
  Name: RAM, dtype: object),
 ('Série 1',
  Motor                                              Motor 3.0 32v
  Año                                                         2012
  Kilometraje                                              46449.0
  Cero_km                                                    False
  Accesorios     ['Techo panorámico', 'Cámara de estacionamient...
  Valor                                                   61118.59
  km_promedio                                             5806.125
  Name: Série 1, dtype: object),
 ('A3',
  Motor                                               Motor 1.0 8v
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                   88552.39
  km_promedio                                                  NaN
  Name: A3, dtype: object),
 ('XC90',
  Motor                                               Motor 1.0 8v
  Año                                                         2016
  Kilometraje                                              37086.0
  Cero_km                                                    False
  Accesorios     ['Cerraduras electricas', 'Ventanas eléctricas...
  Valor                                                   62696.69
  km_promedio                                               9271.5
  Name: XC90, dtype: object),
 ('RS 3 Sportback',
  Motor                                              Motor 3.0 32v
  Año                                                         2017
  Kilometraje                                              15173.0
  Cero_km                                                    False
  Accesorios     ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                   101726.3
  km_promedio                                          5057.666667
  Name: RS 3 Sportback, dtype: object),
 ('Pajero Sport',
  Motor                                               Motor 1.0 8v
  Año                                                         2002
  Kilometraje                                             101193.0
  Cero_km                                                    False
  Accesorios     ['Sensor de estacionamiento', 'Piloto automáti...
  Valor                                                  106147.38
  km_promedio                                          5621.833333
  Name: Pajero Sport, dtype: object),
 ('Série 1 M',
  Motor                                                   Motor V8
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Control de estabilidad', 'Central multimedia...
  Valor                                                    94564.4
  km_promedio                                                  NaN
  Name: Série 1 M, dtype: object),
 ('Lamborghini Obvious',
  Motor                                            Motor Diesel V6
  Año                                                         1994
  Kilometraje                                              98079.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', 'Transmisión automátic...
  Valor                                                  133529.84
  km_promedio                                          3772.269231
  Name: Lamborghini Obvious, dtype: object),
 ('Effa Hafei Picape Baú',
  Motor                                               Motor Diesel
  Año                                                         1991
  Kilometraje                                             102959.0
  Cero_km                                                    False
  Accesorios     ['Control de estabilidad', 'Panel digital', 'V...
  Valor                                                  125684.65
  km_promedio                                          3550.310345
  Name: Effa Hafei Picape Baú, dtype: object),
 ('Lamborghini Murciélago',
  Motor                                      Motor 5.0 V8 Bi-Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Frenos ABS', 'Transmisión automática', 'Aire...
  Valor                                                  121596.21
  km_promedio                                                  NaN
  Name: Lamborghini Murciélago, dtype: object),
 ('Up!',
  Motor                                            Motor Diesel V6
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Sensor de estacionamiento', 'Ventanas eléctr...
  Valor                                                    71367.1
  km_promedio                                                  NaN
  Name: Up!, dtype: object),
 ('Fiesta Rocam Sedan',
  Motor                                            Motor 4.0 Turbo
  Año                                                         2016
  Kilometraje                                               5795.0
  Cero_km                                                    False
  Accesorios     ['Aire condicionado', 'Asientos de cuero', 'Tr...
  Valor                                                   95347.75
  km_promedio                                              1448.75
  Name: Fiesta Rocam Sedan, dtype: object),
 ('Sandero Stepway',
  Motor                                              Motor 3.0 32v
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Frenos ABS', 'Aire condicionado', 'Techo pan...
  Valor                                                  105432.84
  km_promedio                                                  NaN
  Name: Sandero Stepway, dtype: object),
 ('Cayman S',
  Motor                                              Motor 3.0 32v
  Año                                                         2002
  Kilometraje                                              58848.0
  Cero_km                                                    False
  Accesorios     ['Transmisión automática', 'Sensor de estacion...
  Valor                                                   57045.27
  km_promedio                                          3269.333333
  Name: Cayman S, dtype: object),
 ('V40',
  Motor                                            Motor 4.0 Turbo
  Año                                                         1991
  Kilometraje                                              94381.0
  Cero_km                                                    False
  Accesorios     ['Cámara de estacionamiento', 'Sensor de estac...
  Valor                                                   120432.7
  km_promedio                                          3254.517241
  Name: V40, dtype: object),
 ('Classe SLS AMG',
  Motor                                               Motor 1.0 8v
  Año                                                         1997
  Kilometraje                                              30163.0
  Cero_km                                                    False
  Accesorios     ['Sensor de estacionamiento', 'Control de esta...
  Valor                                                    70707.2
  km_promedio                                          1311.434783
  Name: Classe SLS AMG, dtype: object),
 ('Gol G4',
  Motor                                              Motor 2.0 16v
  Año                                                         1995
  Kilometraje                                              53332.0
  Cero_km                                                    False
  Accesorios     ['Sensor crepuscular', '4 X 4', 'Ventanas eléc...
  Valor                                                   69105.18
  km_promedio                                              2133.28
  Name: Gol G4, dtype: object),
 ('Linea',
  Motor                                               Motor 1.0 8v
  Año                                                         2018
  Kilometraje                                              17720.0
  Cero_km                                                    False
  Accesorios     ['Piloto automático', 'Panel digital', 'Ventan...
  Valor                                                   59358.69
  km_promedio                                               8860.0
  Name: Linea, dtype: object),
 ('Ford F100',
  Motor                                              Motor 2.0 16v
  Año                                                         1991
  Kilometraje                                              33808.0
  Cero_km                                                    False
  Accesorios     ['Control de tracción', 'Sensor crepuscular', ...
  Valor                                                    65955.4
  km_promedio                                          1165.793103
  Name: Ford F100, dtype: object),
 ('J2',
  Motor                                                   Motor V8
  Año                                                         2014
  Kilometraje                                              90684.0
  Cero_km                                                    False
  Accesorios     ['Techo panorámico', 'Sensor de estacionamient...
  Valor                                                   60017.03
  km_promedio                                              15114.0
  Name: J2, dtype: object),
 ('Aston Martin DBS',
  Motor                                                   Motor V8
  Año                                                         1995
  Kilometraje                                              43975.0
  Cero_km                                                    False
  Accesorios     ['Techo panorámico', 'Piloto automático', 'Air...
  Valor                                                  118909.52
  km_promedio                                               1759.0
  Name: Aston Martin DBS, dtype: object),
 ('Pajero TR4',
  Motor                                            Motor 2.4 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Control de tracción', 'Asientos de cuero', '...
  Valor                                                   51606.59
  km_promedio                                                  NaN
  Name: Pajero TR4, dtype: object),
 ('Polo Sedan',
  Motor                                                   Motor V6
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Sensor de lluvia', 'Sensor crepuscular', 'Ai...
  Valor                                                  123281.87
  km_promedio                                                  NaN
  Name: Polo Sedan, dtype: object),
 ('California',
  Motor                                               Motor 1.0 8v
  Año                                                         2009
  Kilometraje                                               5526.0

In [ ]:
for index, row in dataset.iterrows():
  if(2020 - row.Año != 0):
    dataset.loc[index,'km_promedio'] = row.Kilometraje / (2020 - row.Año)
  else:
    dataset.loc[index,'km_promedio'] = 0

In [ ]:
 dataset

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_promedio
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2612.352941
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,196.965517
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1237.433333
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,NaN
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1839.785714
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,4584.166667
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1033.827586
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,2924.277778
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,320.208333
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1792.428571

# 5.5 Tratamiento de datos

In [ ]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_promedio
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2612.352941
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,196.965517
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1237.433333
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,NaN
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1839.785714

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Motor        258 non-null    object
 1   Año          258 non-null    int64
 2   Kilometraje  197 non-null    float64
 3   Cero_km      258 non-null    bool
 4   Accesorios   258 non-null    object
 5   Valor        258 non-null    float64
 6   km_promedio  197 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [ ]:
dataset.Kilometraje.isna()

Nombre
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Kilometraje, Length: 258, dtype: bool

In [ ]:
dataset[dataset.Kilometraje.isna()]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_promedio
Nombre,,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,NaN
A5,Motor 4.0 Turbo,2019,NaN,True,"['Transmisión automática', 'Cámara de estacion...",56445.20,NaN
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Panel digital', 'Llant...",53183.38,NaN
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,NaN
Série 1 M,Motor V8,2019,NaN,True,"['Control de estabilidad', 'Central multimedia...",94564.40,NaN
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Control de tracción', 'Aire condicionado', '...",67664.86,NaN
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Transmisión automática...",126247.84,NaN
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimedia', 'Sensor crepuscular', '...",128852.21,NaN
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Cerraduras electricas', 'Aire condicionado',...",129415.33,NaN
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Panel digital', 'Piloto automático', 'Centra...",77675.79,NaN

In [ ]:
dataset.fillna(0)

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_promedio
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2612.352941
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,196.965517
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1237.433333
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1839.785714
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,4584.166667
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1033.827586
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,2924.277778
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,320.208333
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1792.428571

In [ ]:
dataset

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_promedio
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2612.352941
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,196.965517
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1237.433333
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,NaN
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1839.785714
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,4584.166667
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1033.827586
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,2924.277778
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,320.208333
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1792.428571

In [ ]:
#Esto lo reemplaza al NaN
dataset.fillna(0, inplace = True)

In [ ]:
dataset

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_promedio
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2612.352941
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,196.965517
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1237.433333
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1839.785714
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,4584.166667
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1033.827586
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,2924.277778
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,320.208333
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1792.428571

In [ ]:
dataset.query('Cero_km == True')

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_promedio
Nombre,,,,,,,
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,0.0,True,"['Transmisión automática', 'Cámara de estacion...",56445.20,0.0
J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Panel digital', 'Llant...",53183.38,0.0
A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,0.0,True,"['Control de estabilidad', 'Central multimedia...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Control de tracción', 'Aire condicionado', '...",67664.86,0.0
Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Transmisión automática...",126247.84,0.0
Uno,Motor Diesel V6,2019,0.0,True,"['Central multimedia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Cerraduras electricas', 'Aire condicionado',...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,0.0,True,"['Panel digital', 'Piloto automático', 'Centra...",77675.79,0.0

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';')

In [ ]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [ ]:
#Elimitarlo directamente
dataset.dropna(subset = ['Kilometraje'], inplace = True)

In [ ]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamiento', 'Techo panorámic...",97497.73
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47